<!DOCTYPE html>
<html>

<head>
    <title>Video for {{ scale }} scale</title>
</head>

<body>
	<a href="/"> Home </a>

    <h1>Video for {{ scale }} scale</h1>

    <ul>
        {% for entry in entries %}
        <li>
            <strong>Notes:</strong> {{ entry.notes }}
            <br>
            <iframe width="560" height="315" src="{{ entry.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        {% endfor %}

    </ul>

</body>

</html>


