<!DOCTYPE html>
<html>
	<head>

		<style>
		    #listWithHandle {
		        column-count: 4;
		        column-gap: 20px; /* Adjust the gap as needed */
		    }
		</style>
	</head>

	<body>
		<h1> Handpan Library </h1>

		<h2> Scales </h2>
		<div id="scalediv">
		    <ul id="listWithHandle">
		        {% for scale in scales %}
		            <li>
		                <a href="/scale?scale={{ scale|quote_plus }}">{{ scale }}</a>
		            </li>
		        {% endfor %}
		    </ul>
		</div>

		<h2> Thanks </h2>
		I linked videos that I found within youtube and I mainly gathered content from:<br/>
		-  <a href=https://www.youtube.com/user/ShellOpan>Shellopan youtube page</a><br/>
		- old website (2014) that is down now: https://sites.google.com/site/handpanscales/home<br/><br/>

		I would like to thank you for your work and hopefully it does not cause trouble to link your content here. If so please let me know
		<!-- <h2> Add song </h2>
		<a href="/manage"> manage </a> -->

</html> 